.App {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-width: 475px;
}
.heading {
  font-size: 64px;
  vertical-align: top;
  color: #000000;
  margin: 10px;
}
.button {
  background-color: deepskyblue;
  width: 40%;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 36px;
  font-family: "Arial", serif;
  border-radius: 10px;
  min-width: 100px;
}